.jumbotron {
  background-image: url('../images/portfolio-banner2.png');
  background-repeat: no-repeat;
  background-position: relative;
  background-size: cover;
  height: 620px;
}

.jumbotron .container {
  margin-top: 100px;
}

#name {
  text-align: right;
  border-right: 1px solid white;
  color: white;
  text-shadow: 2px 2px 2px #333333;
  padding-bottom: 100px;
}

#name h1 {
  font-size: 80px;
}

#job {
  padding-top: 100px;
  color: white;
  text-shadow: 1px 1px 1px #333333;
  font-style: italic;
}

#job h2 {
  font-size: 50px;
}

.first-section {
  margin-top: -150px;
  width: 80%;
  color: white;
  border-bottom: 3px solid white !important;
}

.section-title {
  font-family: Courier;
  border-bottom: 3px solid black;
}

.section-title h2 {
  font-weight: bold;
  font-size: 50px;
}

#triangle {
  height: 0;
  width: 0;
  margin-left: -15px;
  margin-top: -179px;
  border-top: 180px solid transparent;
  border-left: 100vw solid #4C4C4C;
}

#triangle2 {
  height: 0;
  width: 0;
  border-bottom: 180px solid transparent;
  border-left: 100vw solid #4C4C4C;
}

#triangle3 {
  height: 0;
  width: 0;
  margin-top: -120px;
  border-top: 180px solid transparent;
  border-right: 100vw solid #4C4C4C;
}

#triangle4 {
  height: 0;
  width: 0;
  border-bottom: 120px solid transparent;
  border-right: 100vw solid #4C4C4C;
}

.projects-container {
  background-color: #4C4C4C;
  margin-top: -30px;
}

.text-right {
  text-align: right;
}

.project-card {
  margin: 20px auto;
  border-radius: 8px;
  width: 90%;
}

.project-img {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  height: 215px;
  width: 111%;
  position: relative;
  z-index: 1;
}

.project-content {
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  height: 215px;
  background-color: white;
}

.project-title {
  margin-bottom: -8px;
  padding-left: 10px;
}

.project-words {
  margin-top: -8px;
  padding-left: 10px;
}

.links {
  display: flex;
  justify-content: space-around;
}

.links a {
  border-radius: 40px;
  padding-top: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 170px;
  height: 40px;
  text-align: center;
}

.site-link {
  border: 1px solid #243CBA;
  color: #243CBA;
}

.site-link:hover {
  background-color: #243CBA;
  color: white;
  text-decoration: none;
}

.pic-link {
  border: 1px solid #35AEF2;
  color: #35AEF2;
}

.pic-link:hover {
  background-color: #35AEF2;
  color: white;
  text-decoration: none;
}

.github-link {
  border: 1px solid black;
  color: black;
}

.github-link:hover {
  background-color: black;
  color: white;
  text-decoration: none;
}

#education-title {
  margin-top: -120px;
  margin-left: 400px;
  width: 60vw;
}

.education {
  margin-top: 20px;
}

.education img {
  height: 150px;
  width: 150px;
  margin-left: 10px;
}

.edu-dates {
  margin-top: 10px;
}

.work-container {
  background-color: #4C4C4C;
  color: white;
}

#work-title {
  border-bottom: 3px solid white;
  text-align: right;
  width: 65vw;
  margin-left: 30vw;
  margin-top: -160px;
  margin-bottom: 70px;
}

.work {
  margin-top: 20px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.work img {
  border-radius: 8px;
  height: 150px;
  width: 150px;
  margin-left: 5vw;
}

.work-content {
width: 50%;
}

.work-dates {
  margin-top: 10px;
}

.text-center {
  text-align: center;
}

.contact-title {
  width: 50vw;
  margin-top: -100px;
  margin-left: -40px;
}

#contact-mail {
  color: #243CBA;
  font-size: 70px;
  text-shadow: 2px 2px 2px #999999;
}

#contact-mail:hover {
  color: #1B267E;
  text-shadow: 3px 3px 6px #7F7F7F;
}

#contact-linkedin {
  color: #35AEF2;
  font-size: 70px;
  text-shadow: 2px 2px 2px #999999;
}

#contact-linkedin:hover {
  color: #2A88BD;
  text-shadow: 3px 3px 6px #7F7F7F;
}

#contact-github {
  color: black;
  font-size: 70px;
  text-shadow: 2px 2px 2px #999999;
}

#contact-github:hover {
  color: #262626;
  text-shadow: 3px 3px 6px #7F7F7F;
}

@media only screen and (max-width: 768px) {
  .project-content {
    border: 0px solid white;
    margin-top: 10px;
    height: 120%;
  } .project-card {
    border: 1px solid black;
    width: 90%;
    margin: 10px auto;
  } .project-title {
    text-align: center;
  } .links {
    flex-wrap: wrap;
    justify-content: center;
  } .links a {
    width: 80%;
  } .education img {
    height: 80px;
    width: 80px;
    margin-top: 20px;
  } .education h3, h4, h5, h6 {
    padding-left: 10px;
  } .work img {
    height: 80px;
    width: 80px;
    margin-top: 20px;
  } .work h3, h4, h5, h6 {
    padding-left: 10px;
  }
}
