/* Main navbar */
.navbar {
  background: white;
  transition: all 0.3s ease;
  height: 70px !important;
  margin-bottom: 0px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  border-radius: 0px !important;
  box-shadow: 0px 1px 5px #7F7F7F;
  z-index: 1;
}

/* Logo */
.navbar-brand {
  margin-bottom: 15px;
}

.navbar-brand h5 {
  display: inline;
  font-size: 30px;
}

#C {
  color: white;
  background-color: black;
  padding: 4px 12px;
}

#M {
  color: black;
  background-color: white;
  border: 1px solid black;
  padding: 3px 12px;
  margin-left: -5px;
}

/* Right section */
.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 35vw;
}

/* Basic navbar item */
.navbar-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-link {
  color: #616668;
  font-size: 14px;
}
.navbar-link:hover {
  color: #da552f;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}

.navbar-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}

.navbar-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}

.navbar-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

/* Main Page */
.main {
  height: calc(~"100% - 70px");
  overflow: auto;
  margin-top: 70px;
}

/* Top Display */
.jumbotron {
  background-image: url('../images/portfolio-banner3.jpeg');
  background-repeat: no-repeat;
  background-position: relative;
  background-size: cover;
  height: 620px;
}

.jumbotron .container {
  margin-top: 100px;
}

#name {
  text-align: right;
  border-right: 1px solid white;
  color: white;
  text-shadow: 2px 2px 2px #333333;
  padding-bottom: 100px;
  box-shadow: 1px 0px 0px #737373;
}

#name h1 {
  font-size: 80px;
}

#job {
  padding-top: 100px;
  color: white;
  text-shadow: 1px 1px 1px #333333;
  font-style: italic;
}

#job h2 {
  font-size: 50px;
}

.section-title {
  font-family: Verdana, san-serif;
  border-bottom: 3px solid #4C4C4C;
}

.section-title h2 {
  font-weight: bold;
  font-size: 50px;
}

/* Diagonal Page Divdiers */
#triangle {
  height: 0;
  width: 0;
  margin-left: -15px;
  margin-top: -179px;
  border-top: 180px solid transparent;
  border-left: 100vw solid #4C4C4C;
}

#triangle2 {
  height: 0;
  width: 0;
  border-bottom: 180px solid transparent;
  border-left: 100vw solid #4C4C4C;
}

#triangle3 {
  height: 0;
  width: 0;
  border-top: 180px solid transparent;
  border-left: 100vw solid #4C4C4C;
}

#triangle4 {
  height: 0;
  width: 0;
  border-bottom: 180px solid transparent;
  border-left: 100vw solid #4C4C4C;
}

/* Project Section */
#projects {
  margin-top: -150px;
  width: 80%;
  color: white;
  border-bottom: 3px solid white !important;
}

.projects-container {
  background-color: #4C4C4C;
  margin-top: -30px;
}

.project-card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.text-right {
  text-align: right;
}

.project-card {
  margin: 22px;
  border-radius: 8px;
  width: 320px;
}

.project-top {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #1CA1A0;
  display: flex;
  justify-content: center;
}

.arrow-down {
  width: 0;
  height: 0;
  margin: -12px auto;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #1CA1A0;
}

.project-img {
  border-radius: 8px;
  border: 4px solid white;
  height: 180px;
  width: 180px;
  position: relative;
  z-index: 1;
  margin: 20px auto;
}

.language {
  color: #7F7F7F;
  font-style: italic;
  padding: 10px;
}

.project-content {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: white;
  padding: 10px;
  text-align: center;
}

.project-title {
  text-align: center;
  font-size: 50px;
  margin: -8px auto;
}

.project-words {
  margin-top: -8px;
  padding-left: 10px;
}

.links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.links a {
  border-radius: 40px;
  padding-top: 8px;
  margin: 10px auto;
  width: 250px;
  height: 40px;
  text-align: center;
}

.site-link {
  border: 1px solid #243CBA;
  color: #243CBA;
}

.site-link:hover {
  background-color: #243CBA;
  color: white;
  text-decoration: none;
}

.pic-link {
  border: 1px solid #35AEF2;
  color: #35AEF2;
}

.pic-link:hover {
  background-color: #35AEF2;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.github-link {
  border: 1px solid black;
  color: black;
}

.github-link:hover {
  background-color: black;
  color: white;
  text-decoration: none;
}

/* Image Slider */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 80%;
  max-width: 80%;
}

.slider-image {
  width: 80%;
  border-radius: 5px;
  margin-bottom: 15px;
}

/* The Close Button */
.close {
  color: white !important;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 55px !important;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

/* Next & previous buttons */
.arrows {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  right: 22%;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 120%;
  width: 120px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}

/* Number text (1/3 etc) */
.numbertext {
  color: white;
  border-top-left-radius: 5px;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  background-color: black;
  font-weight: bold;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.unique-caption {
  font-weight: bold;
}

/* Education Section */
#education-text {
  margin-top: -118px;
  margin-left: 27.5vw;
  width: 59vw;
  color: #4C4C4C;
}

.education-row {
  margin-top: 20px;
  color: #4C4C4C;
}

.education-row img {
  height: 150px;
  width: 150px;
  margin-left: 10px;
}

.edu-dates {
  margin-top: 10px;
  color: #4C4C4C;
}

#sololearn-margin {
  margin-bottom: 100px;
}

/* Experience Section */
.work-container {
  background-color: #4C4C4C;
  color: white;
}

#experience {
  border-bottom: 3px solid white;
  text-align: left;
  width: 65vw;
  margin-left: 5vw;
  margin-top: -160px;
  margin-bottom: 70px;
}

.work {
  margin-top: 20px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.work img {
  border-radius: 8px;
  height: 150px;
  width: 150px;
  margin-left: 5vw;
}

.work-content {
width: 50%;
}

.work-dates {
  margin-top: 10px;
}

.text-center {
  text-align: center;
}

/* Contact Section */
#contact {
  width: 50vw;
  text-align: right;
  margin-top: -140px;
  margin-left: 36vw;
  color: #4C4C4C;
}

#contact-mail {
  color: #243CBA;
  font-size: 70px;
  text-shadow: 1px 1px 1px #999999;
}

#contact-mail:hover {
  color: #1B267E;
}

#contact-linkedin {
  color: #35AEF2;
  font-size: 70px;
  text-shadow: 1px 1px 1px #999999;
}

#contact-linkedin:hover {
  color: #2A88BD;
}

#contact-github {
  color: black;
  font-size: 70px;
  text-shadow: 1px 1px 1px #999999;
}

#contact-github:hover {
  color: #383838;
}

#email {
  text-shadow: none;
  color: #4C4C4C;
}

/* Media Query */

@media only screen and (max-width: 768px) {
  .project-content {
    border: 0px solid white;
    margin-top: 0px;
    height: 120%;
  } .project-card {
    width: 90%;
    margin: 10px auto;
  } .project-title {
    text-align: center;
    margin-top: 5px;
  } .links {
    flex-wrap: wrap;
    justify-content: center;
  } .links a {
    width: 80%;
  } .education-row img {
    height: 80px;
    width: 80px;
    margin-top: 20px;
  } .education-row h3, h4, h5, h6 {
    padding-left: 10px;
  } .work div {
    margin: 0 auto;
    width: 100%;
    text-align: center;
  } .work-content {
    width: 100%;
  } .work img {
    height: 80px;
    width: 80px;
    margin: 0px auto;
  } #name h1 {
    font-size: 40px;
  } #job h2 {
    font-size: 30px;
  } .jumbotron .container {
    margin-right: 0px;
  } .section-title h2 {
    font-size: 30px;
  } #projects {
    width: 65%;
    margin-top: -100px;
  } #education {
    width: 40vw;
    margin-left: 0vw;
    margin-top: 0px;
  } #education-text {
    margin-top: -80px;
    margin-left: 30vw;
    width: 60vw;
  } #experience {
    margin-top: -120px;
  } #contact {
    margin-top: -80px;
    margin-left: 40vw;
  }
}

